{% extends "products/base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="order__new">

    <form action="" method="post" enctype="multipart/form-data" class="order__new__form">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn" type="submit">Оформить заказ</button>
    </form>

    <div class="order__new__cart">
        {% for item in cart %}
            {% with product=item.product %}
            <div class="order__new__cart__item">
                
                    <h2>{{ product.name }}</h2>
                    <p><span class="order__new__label">Количество: </span>{{item.quantity}}</p>
                    
                    <div class="cart__item__price"><span class="order__new__label">Цена за ед.: </span>{{ item.price }} <span class="cart__rouble16">₽</span></div>
                    <div class="cart__item__total-price"><span class="order__new__label">Стоимость: </span>{{ item.total_price }} <span class="cart__rouble24">₽</span></div>
            </div>
            {% endwith %}
        {% endfor %}
    </div>

</div>

<div class="cart__wrapper">
    Сумма заказа: <span class="cart__total-price">{{ cart.get_total_price }} </span><span class="cart__rouble24">₽</span>
</div>

{% endblock content %}