{% extends "products/base.html" %}
{% block content %}
{% load static %}

        <div class="content">
            {% for  order in orders  %}
                <div class="order">
                    <div class=order__item>
                        <div class="order__item__header">Номер заказа</div>
                        <div class="order__item__value">{{order.number}}</div>
                    </div>
                    <div class=order__item>
                        <div class="order__item__header">Статус</div>
                        <div class="order__item__value">{{order.status}}</div>
                    </div>
                    <div class=order__item>
                        <div class="order__item__header">Сумма заказа</div>
                        <div class="order__item__value">{{order.total_price}} ₽</div>
                    </div>
                    <div class=order__item>
                        <div class="order__item__header">Способ оплаты</div>
                        <div class="order__item__value">{{order.payment}}</div>
                    </div>
                    <div class=order__item>
                        <div class="order__item__header">Вариант доставки</div>
                        <div class="order__item__value">{{order.deliviry}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
 
{% endblock content %}