
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: PTRootUIWeb, sans-serif;
    color: $text;
    display: flex;
    flex-direction: column;
}

.link {
    line-height: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition-property: color,font-weight,border-bottom;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: $text;

    &:hover {
        color: $primary;
    }
}

.content {
    flex-grow: 1;
    padding: 15px;
}

.cart-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(30 31 33 / 12%) 0px 5px 25px;
}

a {
    text-decoration: none;
    color: $primary;
    
    &:hover {
        color: $text;
    }
}

.btn, input[type="submit"], button[type="submit"] {
    background-color: $primary;
    border-radius: 6px;
    color: white;
    padding: 6px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $secondary;
    }
}
select, input[type="text"], input[type="email"], textarea, input[type="password"] {
    border: 1px solid $border;
    padding: 4px 16px;
    font-size: 16px;
    border-radius: 6px;
}

.text-right {
    text-align: right;
}

.category-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgb(30 31 33 / 12%) 0px 5px 25px;
    padding: 16px;
    border-radius: 6px;

    p {
        display: flex;
        flex-direction: column;

        input {
            max-width: 100%;
        }
    }
}

.wrapper__center {
    display: flex;
    justify-content: center;
}