
$primary: #FE7200;
$secondary: #df6400;
$text: #151528;
$bg: #f5f5f6;
$border: #b3b3b7;


@import "./fonts";
@import "./base";
@import "./header";
@import "./dropdown";
@import "./user";
@import "./products";